*{
    margin: 0%;
    padding: 0%;
    background-color: black;
}

h1{
    color: white;
    font-family: 'Libre Baskerville', serif;
    text-align: center;
    margin-top: 5px;
}
p{
    color: white;
    text-align: center;
    margin-top: 3%;
}
img{
    height: 50%;
    width: 100%;
    border: solid white 5px;
}
.motivational{
    margin-top: 5%;
    width: 50%;
    margin-left: 25%;
}